<%= simple_form_for [refinery, :caststone_admin, @photo], html: {multipart: true} do |f| %>
  <!-- This part of the form is for the photo upload -->
      <%= f.input :trackid %>
      <%= f.association :page %>
      <%= f.association :product, collection: @products, prompt: 'Choose a Series', label: 'Series', include_blank: true %>
      <p>Total height of components <%= @photo.height%> mm</p>
    </div>
    <div id='photo-and-drawing'>
<!--      Just a reminder-->
      <%if @photo.image_uid %>
        <%= image_tag @photo.image.thumbnail({geometry: :small}).url, class: :photo, id: @photo.id %>
      <%end%>

      <%if @photo.drawing %>
        <img src='data:image/png;base64,<%= @photo.drawing%>' alt = 'Drawing of <%= @photo.name%>' class='drawing' />
      <%else%>
        <img alt = 'Drawing of <%= @photo.name%>' class='drawing'>
      <%end%>

      <%= f.hidden_field :drawing, value: @photo.drawing, id: 'photo_drawing' %>
    </div>
  </div>
  <div class='row'>
    <%= render  'refinery/caststone/admin/shared/product_components', series: @photo.product if @photo.product %>
  </div>

<!--  <%= render '/refinery/admin/form_actions', f: f,-->
<!--             continue_editing: false,-->
<!--             delete_title: t('.delete'),-->
             delete_confirmation: "Really delete #{@photo.name}?" %>

<% end %>
