<%= f.association :product,
                  collection: @products,
                  prompt: 'Choose a Series',
                  label: 'Series',
                  as: :radio_buttons,
                  include_blank: true %>
<!--<h1 > Select Components </h1 >-->
<section class='components' >
  <fieldset class="drawing">
    <legend > Drawing</legend >
    <% if @photo.drawing %>
      <img src='data:image/png;base64,<%= @photo.drawing %>' alt='Drawing of <%= @photo.name %>' class='drawing' />
    <% else %>
      <img alt='Drawing of <%= @photo.name %>' class='drawing' >
    <% end %>
    <aside >Total height of components <%= @photo.height %>mm</aside >
    <a id="redraw_button" class="button" href="#" tooltip="Redraw with the currently selected components " >Redraw</a >
    <%= f.hidden_field :drawing, value: @photo.drawing, id: 'photo_drawing' %>
  </fieldset >
  <%= render 'refinery/caststone/admin/shared/product_components', series: @photo.product if @photo.product %>
</section>
