<!--<h1 > Select Components </h1 >-->
<section class='components' >
  <fieldset class="drawing" >
    <legend > Drawing</legend >
    <% if @photo.drawing %>
      <img src='data:image/png;base64,<%= @photo.drawing %>' alt='Drawing of <%= @photo.name %>' class='drawing' />
    <% else %>
      <img alt='Drawing of <%= @photo.name %>' class='drawing' >
    <% end %>
    <aside >Height: <%= @photo.height.to_i %>mm</aside >
    <a id="redraw_button" class="button" href="#" tooltip="Redraw with the currently selected components" data-photo-id="<%= @photo.id %>" >
      Redraw
    </a>
    <%= f.hidden_field :drawing, value: @photo.drawing, id: 'photo_drawing' %>
  </fieldset >
  <% if @photo.product %>
    <%= render 'refinery/caststone/admin/photos/tabs/product_components', product: @photo.product %>
  <% end %>

</section >
