<!-- shared a set of components for a series selected for a photo  -->
<!-- series=product, photo -->
<div id="selectComponents">

  <%= simple_fields_for :photo	 do |f| %>
    <h1> Select <%= series.name%> Components </h1>
    <% Refinery::Caststone::Component::COMP_TYPES.each do |comp_type|
        comp_type_name=comp_type.pluralize
        comp_type_method = comp_type_name.downcase
        comp_ids = "#{comp_type}_ids".downcase
        if series.send(comp_type_method).any?  %>
          <fieldset id="<%= comp_type%>" class="component_type">
            <legend>
              <%= comp_type%>
            </legend>
            <%#= f.collection_check_boxes, 'component_ids',  @components, :id, :name %>
             <%= f.collection_check_boxes :component_ids, series.send(comp_type_method), :id, :name %>
             <%= link_to "Clear #{comp_type_name}", '#', :id => comp_type_name, :class=> 'button clearRadioSet'%>
          </fieldset>
        <%end%>
      <%end%>
     <a id="redraw_button" class="button" href="#" tooltip="Redraw with the currently selected components ">Redraw</a>
  <%end%>
</div>

