<!-- shared a set of components for a series selected for a photo  -->
<!-- series=product, photo -->
  <%= simple_fields_for :photo do |f| %>
    <div class="selectComponents">

      <% Refinery::Caststone::Components::COMP_TYPES.each do |ct| %>
        <%ct = ct.downcase
          ct_plural = ct.pluralize
        %>
        <% if series.uses(ct) %>
          <fieldset id="<%= ct %>" class="component_type <%= ct_plural  %>">
            <legend ><%= ct_plural.capitalize %></legend >
            <%= f.collection_check_boxes :"#{ct}_ids", series.send(ct_plural), :id, :name %>
            <%= link_to "Clear #{ct_plural}", '#', id: ct_plural, class: 'button clearRadioSet' %>
          </fieldset >
        <% end %>
      <% end %>
   </div>
  <% end %>

