<%= simple_form_for [refinery, :caststone_admin, @photo], html: {multipart: true} do |f| %>
  <%= render '/refinery/admin/error_messages', object: @photo, include_object_name: true %>
  <%= render '/refinery/admin/warning_messages', object: @photo, include_object_name: true unless @photo.sensible?
  %>
      <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name, class: "larger widest" %>
      </div>
      <div class="field">
        <%= f.label :tracking_id %>
        <%= f.text_field :tracking_id, class: "larger" %>
      </div>
      <div class="field">
        <%= f.association :page,
            label_method: :title, value_method: :id,
            prompt: "Assign this photo to a page" %>
      </div>
      <% product = @photo.product.presence %>
      <% if product %>
        <p>Belongs to <%= @photo.product.name %></p>
      <% end %>
  <%= render '/refinery/caststone/admin/tabbed_fields',
      f: f, tabs: Refinery::Caststone::Photos.tabs, object: @photo
  %>

<%= render '/refinery/admin/form_actions', f: f,
  continue_editing: false,
  delete_title: t('.delete'),
  delete_confirmation: "Really delete #{@photo.name}?" %>
<% end %>
