<%
  classes = view == 'list' ? [:clearfix, :record, cycle('on', 'on-hover'), photo.status('record')].join(' ') : photo.status('record')
%>
<li class="<%= classes %>" id="<%= dom_id(photo) -%>">

  <% case Refinery::Caststone::Photos.preferred_photo_view %>
  <% when 'list' %>
    <span class="title"><%= photo.name %> </span>
    <span class="components <%= photo.status('components')%>"><%=photo.components.count%></span>
    <span class="assigned_page <%= photo.status('page')%>"><%= photo.assigned_page_name %></span>
  <% else %>
    <%= image_tag photo.image.thumb('140x140^').url, title:  photo.title, alt: photo.title %>
  <%end%>

  <span class="actions">
    <%= action_icon :preview, photo.image.remote_url, t('view_live_html', scope: 'refinery.caststone.admin.photos') %>
    <%= action_icon :edit,    refinery.edit_caststone_admin_photo_path(photo), t('edit', scope: 'refinery.caststone.admin.photos') %>
    <%= action_icon :delete,  refinery.caststone_admin_photo_path(photo, params.slice(:page)),  t('delete', scope: 'refinery.caststone.admin.photos'), class: 'confirm-delete',
                       data: { confirm: t('.message', scope: 'refinery.admin.delete', title: photo.title) } %>
    <%= action_icon :info,    '#', "#{photo.title} has #{photo.components.count} components and is shown on page #{photo.assigned_page_name}" %>
  </span>

</li>

