<% if view == 'list' %>
  <li id="<%= dom_id(component)-%>" class="<%= component.type.demodulize %>">

      <span class="name"><%= component.name %> </span>
      <span class="height"><%= component.height%></span>
      <span class="series"><%= component.products.to_sentence %></span>
      <% if Refinery::Caststone::Components.preferred_view == 'list' %>
        <span class="<%= component.ready %>"></span>
      <%end%>
      <span class='actions'>
        <%= action_icon :edit,    refinery.edit_caststone_admin_component_path(component), t('.edit') %>
        <%= action_icon :delete,  refinery.caststone_admin_component_path(component),  t('.delete'), class: 'cancel confirm-delete',
                        data: { confirm: t('message', scope: 'refinery.admin.delete', title: component.name)} %>
      </span>

  </li>
<% else %>
    <li id="<%= dom_id(component)-%>" class="<%= component.type.demodulize %>">

      <% if component.drawing  %>
          <%= image_tag component.drawing.thumb('140x140^').url, title:  component.name, alt: component.name  %>
      <% else %>
          <p class="no-drawing"></p>
      <% end %>
      <div class="info">

        <span><%= component.name %> /  <%= component.height%>mm /<%= component.products.to_sentence %></span>
      </div>
      <div class='actions'>
        <%= action_icon :edit,    refinery.edit_caststone_admin_component_path(component), t('.edit') %>
        <%= action_icon :delete,  refinery.caststone_admin_component_path(component),  t('.delete'), class: 'cancel confirm-delete',
                        data: { confirm: t('message', scope: 'refinery.admin.delete', title: component.name)} %>
      </div>
    </li>


<% end %>
