<%= will_paginate @components if Refinery::Caststone::Admin::ComponentsController.pageable? %>
<% listView = Refinery::Caststone::Components.preferred_view.to_s == 'list'

   if listView %>
    <ul id=<%= "#{Refinery::Caststone::Components.preferred_view.to_s}_view" %> class="<%= ['components', 'pagination_frame', pagination_css_class].compact.join(' ') %>">
      <li class="header">
        <span class="name">Name</span>
        <span class="height">Height(<i>mm</i>)</span>
        <span class="series">Series</span>
        <span>Drawing</span>
        <span class="actions">Actions</span>
      </li>
      <%= render partial: 'refinery/caststone/admin/components/component', collection: @components, locals: {view: 'list'} %>
    </ul>
<% else %>
    <ul id= "grid_view" class='components' >
      <%= render partial: 'refinery/caststone/admin/components/component', collection: @components, locals: {view: 'drawings'} %>
    </ul>
<% end %>
