
<tr id="<%= dom_id(component)-%>" class="<%= component.type.demodulize %>">

  <% if component.drawing && gridView %>
    <%= image_tag component.drawing.thumb('140x140^').url, title:  component.name, alt: component.name  %>
  <%end %>

    <td class="title"><%= component.name %> </td>
    <td class="height"><%= component.height%></td>
    <td class="series"><%= component.products.to_sentence %></td>
    <% if Refinery::Caststone::Components.preferred_view == 'list' %>
      <td class="hasDrawing<%= component.ready %>"></td>
    <%end%>
    <td class='actions'>
      <%= action_icon :edit,    refinery.edit_caststone_admin_component_path(component), t('.edit') %>
      <%= action_icon :delete,  refinery.caststone_admin_component_path(component),  t('.delete'), class: 'cancel confirm-delete',
                      data: { confirm: t('message', scope: 'refinery.admin.delete', title: component.name)} %>
  </td>

</tr>
